{% extends "base.html" %}
{% block conteudo %}

<form action="{{ url_for('editar_categoria', id=categoria.id) }}" method="POST">
    <h1>{{ titulo }}</h1>

    {{ form.csrf_token() }}
    <div class="input-field">
        {{ form.nome.label }}
        {{ form.nome(class="validate", value=categoria.nome) }}
    </div>

    <button class="btn waves-effect waves-light" type="submit">Salvar alterações</button>
    <a class="btn waves-effect waves-light" href="{{ url_for('listar_categoria') }}">Voltar</a>

</form>
{% endblock %}
