{% extends "base.html" %}
{% block conteudo %}
    <h1>Bem-vindo a Receitas!</h1>
    <p>Esta é uma aplicação Flask simples para gerenciar uma coleção de receitas.</p>
    <p>Você pode adicionar, editar e excluir receitas da sua coleção.</p>
    <a class="btn waves-effect waves-light" href="{{ url_for('adicionar_receita_form') }}">Adicionar receita</a>
    <a class="btn waves-effect waves-light" href="{{ url_for('adicionar_categoria_form') }}">Adicionar categoria</a>
    <a class="btn waves-effect waves-light" href="{{ url_for('listar_receita') }}">Ver receitas</a>
    <a class="btn waves-effect waves-light" href="{{ url_for('listar_categoria') }}">Ver categoria</a>
{% endblock %}