{% extends "base.html" %}
{% block conteudo %}
<h1> {{ titulo }}</h1>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in receitas %}
                <tr>
                    <td><a href="{{ url_for('ver_receita', id=receita.id) }}">{{ receita.titulo }}</a></td>
                    <td>{{ receita.categoria.nome }}</td>
                    <td>
                        <a href="{{ url_for('editar_receita_form',id=receita.id)}}">Editar</a>
                        <a href="{{ url_for('deletar_receita',id=receita.id)}}">Deletar</a>
                        <a href="#"></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    <a class="btn waves-effect waves-light" href="{{ url_for('inicio') }}">Início</a>
{% endblock %}
