{% extends "base.html" %}
{% block conteudo %}
<h1> {{ titulo }}</h1>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>
                        <a href="#">Editar</a>
                        <a href="{{ url_for('deletar_categoria',id=categoria.id) }}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    <a class="btn waves-effect waves-light" href="{{ url_for('inicio') }}">Início</a>
{% endblock %}
