{% extends "template.html" %}

{% block conteudo %}
<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../static/books.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fonte-especial display-1">The Bookshelf</h5>
                <p>Os livros que li com suas histórias e ensinamentos</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}