{% extends "template.html" %}

{% block conteudo %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Gênero</th>
            <th>Sinopse</th>
            <th>Nota</th>
            <th>Data de conclusão</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.genero }}</td>
            <td>{{ livro.sinopse }}</td>
            <td>{{ livro.nota }}</td>
            <td>{{ livro.data }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}