<link rel="stylesheet" href="../static/bootstrap.css">

<p class="h5 text-center">Lista de Livros</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Gênero</th>
            <th>Sinopse</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.genero }}</td>
            <td>{{ livro.sinopse }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>